[Unit]
Description=Lock screen when going to sleep/suspend/hibernate
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock-fancy
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
